/*Phoreus Cherokee Bold

font-family: phoreuscherokee, serif;
font-weight: 700;
font-style: normal;

Phoreus Cherokee Semibold

font-family: phoreuscherokee, serif;
font-weight: 600;
font-style: normal;

Phoreus Cherokee Regular

font-family: phoreuscherokee, serif;
font-weight: 400;
font-style: normal;

Chaparral Pro Regular

font-family: chaparral-pro, serif;
font-weight: 400;
font-style: normal;

Chaparral Pro Bold

font-family: chaparral-pro, serif;
font-weight: 700;
font-style: normal;

Chaparral Pro Semibold

font-family: chaparral-pro, serif;
font-weight: 600;
font-style: normal;

Chaparral Pro Caption

font-family: chaparral-pro-caption, serif;
font-weight: 400;
font-style: normal;

Chaparral Pro Bold Caption

font-family: chaparral-pro-caption, serif;
font-weight: 700;
font-style: normal;

Chaparral Pro Semibold Caption

font-family: chaparral-pro-caption, serif;
font-weight: 600;
font-style: normal;

Chaparral Pro Semibold Display

font-family: chaparral-pro-display, serif;
font-weight: 600;
font-style: normal;

Chaparral Pro Bold Display

font-family: chaparral-pro-display, serif;
font-weight: 700;
font-style: normal;

Chaparral Pro Display

font-family: chaparral-pro-display, serif;
font-weight: 400;
font-style: normal;

Chaparral Pro Subhead

font-family: chaparral-pro-subhead, serif;
font-weight: 400;
font-style: normal;

Chaparral Pro Semibold Subhead

font-family: chaparral-pro-subhead, serif;
font-weight: 600;
font-style: normal;

Chaparral Pro Bold Subhead

font-family: chaparral-pro-subhead, serif;
font-weight: 700;
font-style: normal; 